* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif, sans-serif;
    text-shadow: 1px 1px 2px #474747;
}

main {
    padding: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#top {
    display: flex;
    justify-content: space-between;
}

#time {
    text-align: center;
}

#weather {
    margin-left: auto;
}

#crypto {
    display: flex;
    align-items: center;
}



